<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="nav">
        <p><a href="/">Home</a></p>
        <p><a href="/projects">Projects</a></p>
        <p><a href="/contact">Contact</a></p>
      </div>
      <h1>Here are some projects of mine!</h1>
    </div>

    <div class="projects">
      <div class="project">
        <img src="~/img/Skyrim.png" alt="null">
        <div class="discription">
          <h2>Skyrim!</h2>
          <p>
            Here, there be dragons. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Saepe libero modi inventore ipsum deleniti totam consequatur repellat voluptatem 
            eveniet tempora minima possimus dicta, aperiam asperiores enim voluptas adipisci 
            officiis incidunt?
          </p>
        </div>
      </div>

      <div class="project">
        <img src="~/img/Cedar_Point.jpg" alt="null">
        <div class="discription">
          <h2>Cedar Point!</h2>
          <p>
            Worlds greatest amuesment park. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Saepe libero modi inventore ipsum deleniti totam consequatur repellat voluptatem 
            eveniet tempora minima possimus dicta, aperiam asperiores enim voluptas adipisci 
            officiis incidunt?
          </p>
        </div>
      </div>

      <div class="project">
        <img src="~/img/Big_Lebowski.jpg" alt="null">
        <div class="discription">
          <h2>Big Lebowski!</h2>
          <p>
            Crazy stuff happens to these random dudes. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Saepe libero modi inventore ipsum deleniti totam consequatur repellat voluptatem 
            eveniet tempora minima possimus dicta, aperiam asperiores enim voluptas adipisci 
            officiis incidunt?
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>